<div class="content">
  <div class="modal-box">
    <h1 class="title">
      Adicionar uma nova tarefa
    </h1>
    <form class="form">
      <mat-form-field style="width:50%" appearance="fill">
        <mat-label>Descrição da tarefa</mat-label>
        <input #taskNameInput matInput placeholder="Insira a descrição da tarefa...">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="onCancelClick()">Cancelar</button>
        <button mat-raised-button style="background-color: #efbb40;" (click)="createNewTask(taskNameInput.value)">Adicionar</button>
      </div>
    </form>

  </div>
</div>
