/* .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93%;
  background-color: #C9C9C9;
} */

.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
  background: #fff;
  border-radius: 8px
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 42px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #e1e1e1;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 42px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.list-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
}

.list-menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  color: #333333;
  text-decoration: none;
}

.list-menu-item:hover {
  background: #f3d044;
}

.active {
  background: #efbb40;
  font-weight: 500;
}

.task {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: #e1e1e1;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 10px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.task:hover {
  box-shadow: 0 0 0 5px #eee;
}

.task:active {
  transform: scale(0.95)
}

.completed {
  text-decoration: line-through;
  opacity: 0.8
}

.button-group {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

#add-task-button {
  display: inline-block;
  align-self: flex-end;
  background: #efbb40;
}

#add-list-button {
  align-self: flex-end;
  background: #efbb40;
}

.info-text {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(102, 102, 102);
}
